.container {
  padding-top: 120px;  
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-left: 0px;
  max-width: 2000px;
}

.text-center{
  vertical-align: middle;
  background-color: rgb(45, 45, 209);
  color: aliceblue;
  border: 2px solid black;
  
}

.espacio{
  min-width: 100px;
}