<app-diseno>
  <script src= "agregar-datos.component.js"></script>
  <div class="contenedor" ng-app = "agregarApp" ng-controller = "agregarController">
    <div class="contenedor-titulo">
      <h1>
        Instituto Costarricense De Acueductos y Alcantarillados
      </h1>
      <h2>
        Region Central Oeste 
      </h2>
    </div>
    <div class="row clearfix">
      <div class="col-md-12 table-responsive">
        <form>
          <table class="table table-bordered table-hover table-sortable" id="tab_logic">
            <thead>
              <tr >
                <th rowspan="3" class="text-center">
                  Fecha
                </th>
                <th rowspan="3" class="text-center">
                  Hora
                </th>
                <th rowspan="2" class="text-center">
                  Flujo de Entrada
                </th>
                <th rowspan="2" class="text-center">
                  Volumen Acumlado de Salida
                </th> 
                <th rowspan="2" class="text-center">
                  Flujo de Salida
                </th>  
                <th rowspan="2" class="text-center">
                  Volumen Acumlado de Salida
                </th>
                <th rowspan="2" class="text-center">
                  Dosificación de Cloro
                </th>
                <th colspan="2" class="text-center">
                  Peso de los Cilindros
                </th>
                <th colspan="2" class="text-center">
                  Presión en el Eyector
                </th>
                <th colspan="2" class="text-center">
                  Presión AQM
                </th> 
                <th colspan="2" class="text-center">
                  Presión AD
                </th>
                <th colspan="4" class="text-center">
                  PH/Temperatura
                </th> 
                <th colspan="2" class="text-center">
                  Cloro
                </th> 
                <th colspan="2" class="text-center">
                  Arsenico
                </th> 
                <th colspan="2" class="text-center">
                  Manganeso
                </th> 
                <th colspan="2" class="text-center">
                  Hierro
                </th>        
              </tr>
              <tr> 
                <th class="text-center">
                  1
                </th>
                <th class="text-center">
                  2
                </th>
                <th class="text-center">
                  A
                </th>
                <th class="text-center">
                  D
                </th>
                <th class="text-center">
                  E
                </th>
                <th class="text-center">
                  S
                </th>
                <th class="text-center">
                  E
                </th>
                <th class="text-center">
                  S
                </th>  
                <th class="text-center">
                  E
                </th>
                <th class="text-center">
                  T
                </th> 
                <th class="text-center">
                  S
                </th>
                <th class="text-center">
                  T
                </th> 
                <th class="text-center">
                  L
                </th>
                <th class="text-center">
                  T
                </th>
                <th class="text-center">
                  E
                </th>
                <th class="text-center">
                  S
                </th>
                <th class="text-center">
                  E
                </th>
                <th class="text-center">
                  S
                </th>
                <th class="text-center">
                  E
                </th>
                <th class="text-center">
                  S
                </th>                    
              </tr>
              <tr >
                <th rowspan="3" class="text-center">
                  L/s
                </th>
                <th class="text-center">
                  m<sup>3</sup>
                </th>
                <th class="text-center">
                  L/s
                </th>
                <th class="text-center">
                  m<sup>3</sup>
                </th>
                <th class="text-center">
                  g/h
                </th>
                <th class="text-center espacio">
                  KG
                </th>
                <th class="text-center espacio">
                  KG
                </th>
                <th class="text-center espacio">
                  PSI
                </th>
                <th class="text-center espacio">
                  PSI
                </th>
                <th class="text-center espacio">
                  PSI
                </th>
                <th class="text-center espacio">
                  PSI
                </th>
                <th class="text-center espacio">
                  PSI
                </th>
                <th class="text-center espacio">
                  PSI
                </th>
                <th class="text-center espacio">
                  ///
                </th>
                <th class="text-center espacio" >
                  &#8451; <!--Centigrados-->
                </th>
                <th class="text-center espacio">
                  ///
                </th>
                <th class="text-center espacio">
                  &#8451; <!--Centigrados-->
                </th>
                <th class="text-center espacio">
                  mg/l
                </th>
                <th class="text-center espacio">
                  mg/l
                </th>
                <th class="text-center espacio">
                  &#181;/l <!--Micros-->
                </th>
                <th class="text-center espacio">
                  &#181;/l <!--Micros-->
                </th>
                <th class="text-center espacio">
                  &#181;/l <!--Micros-->
                </th>
                <th class="text-center espacio">
                  &#181;/l <!--Micros-->
                </th>
                <th class="text-center espacio">
                  &#181;/l <!--Micros-->
                </th>
                <th class="text-center espacio">
                  &#181;/l <!--Micros-->
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="hidden">
                <td data-name="fecha">
                  <input id="fecha" name="fecha" class="form-control" type="date">
                </td>
                <td data-name="hora">
                  <input id="hora" name="hora" class="form-control" type="time">
                </td>
                <td data-name="flujo-entrada">
                  <input type="text" ng-model = "flujoEntrada" class="form-control" id="flujo-entrada">
                </td>
                <td data-name="volumen-salida">
                  <input type="text" class="form-control" id="volumen-salida">
                </td>
                <td data-name="flujo-salida">
                  <input type="text" class="form-control" id="flujo-salida">
                </td>
                <td data-name="volumen-salida">
                  <input type="text" class="form-control" id="volumen-salida">
                </td>
                <td data-name="dosis-cloro">
                  <input type="text" class="form-control" id="dosis-cloro">
                </td>
                <td data-name="cilindro1">
                  <input type="text" class="form-control" id="cilindro1">
                </td>
                <td data-name="cilindro2">
                  <input type="text" class="form-control" id="cilindro2">
                </td>
                <td data-name="eyector-antes">
                  <input type="text" class="form-control" id="eyector-antes">
                </td>
                <td data-name="eyector-despues">
                  <input type="text" class="form-control" id="eyector-despues">
                </td>
                <td data-name="aqm-entrada">
                  <input type="text" class="form-control" id="aqm-entrada">
                </td>
                <td data-name="aqm-salida">
                  <input type="text" class="form-control" id="aqm-salida">
                </td>
                <td data-name="ad-entrada">
                  <input type="text" class="form-control" id="ad-entrada">
                </td>
                <td data-name="ad-salida">
                  <input type="text" class="form-control" id="ad-salida">
                </td>
                <td data-name="ph-entrada">
                  <input type="text" class="form-control" id="ph-entrada">
                </td>
                <td data-name="temperatura-entrada">
                  <input type="text" class="form-control" id="temperatura-entrada">
                </td>
                <td data-name="ph-salida">
                  <input type="text" class="form-control" id="ph-salida">
                </td>
                <td data-name="temperatura-salida">
                  <input type="text" class="form-control" id="temperatura-salida">
                </td>
                <td data-name="cloro">
                  <input type="text" class="form-control" id="cloro">
                </td>
                <td data-name="cloro-temperatura">
                  <input type="text" class="form-control" id="cloro-temperatura">
                </td>
                <td data-name="arsenico-entrada">
                  <input type="text" class="form-control" id="arsenico-entrada">
                </td>
                <td data-name="arsenico-salida">
                  <input type="text" class="form-control" id="arsenico-salida">
                </td>
                <td data-name="manganeso-entrada">
                  <input type="text" class="form-control" id="manganeso-entrada">
                </td>
                <td data-name="manganeso-salida">
                  <input type="text" class="form-control" id="manganeso-salida">
                </td>
                <td data-name="hierro-entrada">
                  <input type="text" class="form-control" id="hierro-entrada">
                </td>
                <td data-name="hierro-salida">
                  <input type="text" class="form-control" id="hierro-salida">
                </td>
              </tr>
              <tr>
                <td class="text-center espacio">
                  Observaciones 
                </td>
                <td colspan="4" >
                  <textarea class="form-control" id="observacion"></textarea>
                </td>             
              </tr>
            </tbody>
          </table>   
        </form> 
      </div>
    </div>
    <input type="submit" value="Guardar" name="Guardar" class="boton">
    <input type="submit" value="Exportar" name="Exportar" class="boton">
  </div>
</app-diseno>