<app-diseno>
  <div class="center">
    <div class="loginmodal-container">
      <img src="assets/images/AyA.jpeg" class="img-responsive" alt="AyA"/>
      <h1>Ingresar al Sistema</h1><br>
        <form>
          <input type="text" name="usuario" placeholder="Usuario">
          <input type="password" name="contraseña" placeholder="Contraseña">
          <input type="submit" name="ingresar" class="login loginmodal-submit" value="Ingresar" >
          <a routerLink ="/datos">Datos</a>
        </form> 
        <router-outlet></router-outlet>           
    </div>
  </div>      
</app-diseno>