<app-diseno>

    <header>
        <input type="checkbox" id="btn-menu">
        <label for="btn-menu"><img src="assets/images/menu-icon.svg" alt=""></label>
        <nav class="menu">
          <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="">Añadir datos</a></li>
            <li><a href="">Ver registros antiguos</a></li>
            <li><a href="">Ver usuarios</a></li>
            <li><a href="">Registrarse</a></li>
          </ul>
        </nav>
      </header>
         
    <div id="envoltura">
      <div id="contenedor">
        <div id="cabecera" >

          <table>
            <tr>
              <th></th>
            </tr>
            <tr>
              <td><img src="assets/images/AyA.jpeg" class="img-responsive" alt="AyA"/></td>
              <td style="width:75%" ><h1>Registrar usuario</h1></td>
            </tr>
          </table> <br/>

        </div>
        <div id="cuerpo">

          <form id="form-login" action="" method="post" autocomplete="off">
            <!--Required es nuevo en html5, si el campo está vacío te avisa, pero cuidado, no valida la información-->
            <input name="nombre" type="text" id="nombre" placeholder="Nombre de usuario*" autofocus="" required="">&nbsp;&nbsp;

            <input name="contraseña" type="contraseña" id="contraseña" placeholder="Contraseña*" required="">&nbsp;&nbsp;
            
            <input name="email" type="email" id="email" placeholder="Email*" required=""><br/><br/>
            
            <input name="cedula" type="cedula" id="cedula" placeholder="Cedula*" required="">&nbsp;&nbsp;
            
            <label >Tipo de usuario:* </label>
            <select>
                <option value="administrador">Administrador</option>
                <option value="regular">Regular</option>
            </select><br/><br/>

            <p id="bot"><input type="submit" id="submit" name="submit" value="Registrarse" class="boton"></p><br/>
          </form>

        </div><!--Fin cuerpo-->
      </div><!--Fin contenedor -->
    </div><!--Fin envoltura-->


  
  

 
</app-diseno>
